@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: "Gabarito", sans-serif;
    background-color: #292929;
}

.calc_container {
    margin-top: 70px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    background-color: #2a373d;
}

.display {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.input_log {
    text-align: right;
    padding: 0px;
    padding-right: 20px;
    margin-top: 12px;
    font-size: 16px;
    color: #bdbdbd;
}
.input_log_empty {
    margin: 0px;
    padding: 16px;
    padding-right: 20px;
}

.display_text {
    text-align: right;
    font-size: 32px;
    padding: 20px;
    padding-top: 5px;
    color: #F8F8F8;
}

/* Container for all the buttons */
.buttons {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #18212A;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;

}

.button {
    font-size: 20px;
    padding: 10px;
    margin: 3px;
    background-color: #18212A;
    border-style: none;
    border-radius: 5px;
    color: #F8F8F8;
}
.button:hover {
    background-color: #22313f;
}
.button:active {
    background-color: #f8f8f858;
    color: #18212A;
}

#equal {
    background-color: orange;
    color: #18212A;
    border-radius: 50px;
}
#equal:hover {
    background-color: rgb(185, 120, 0);
}
#equal:active {
    background-color: rgb(255, 179, 0);
}

#AC {
    color: orangered;
}

.memory_activated {
    background-color: #22313f;
}

.operator {
    color: orange;
}

#AC {
    grid-column-start: 1;
    grid-column-end: 4;
}

#equal {
    grid-column-start: 4;
}

