@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: "Gabarito", sans-serif;
}

.calc_container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgb(63, 63, 63);
    border: outset; /* temporary */
}

.display {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.input_log {
    padding: 6px;
    font-size: 16px;
}
.input_log_empty {
    padding: 16px;
}

.display_text {
    font-size: 32px;
    padding: 20px;
    padding-top: 5px;
}

/* Container for all the buttons */
.buttons {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.button {
    font-size: 20px;
    margin: 3px;
}

.operator {
    color: orange;
}

#AC {
    grid-column-start: 1;
    grid-column-end: 4;
}

#equal {
    grid-column-start: 4;
}

