body {
    display: flex;
    justify-content: center;
}

.calc_container {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgb(63, 63, 63);
    border: outset; /* temporary */
}

.display {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.input_log {
    padding: 5px;
    font-size: 10px;
}

.display_text {
    font-size: 20px;
    padding: 20px;
    padding-top: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    margin: 3px;
}

.operator {
    color: orange;
}

#AC {
    grid-column-start: 1;
    grid-column-end: 4;
}

#equal {
    grid-column-start: 4;
}

